<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Sat Jul 28 2018 19:31:50 GMT+0000 (UTC)  -->
<html data-wf-page="5b5a317ca1a6aa43900574e8" data-wf-site="5b5a317ca1a6aa611b0574df">

<head>
	<meta charset="utf-8">
	<title>To-Do</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="Webflow" name="generator">
	<link href="/assets/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/webflow.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/todo.css" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/client_logic.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>