<h1>To-do List</h1>

<h2>Tasks: </h2>


  {{#each items}}
    {{#unless complete}}
        <p>
	        <button class="status" data-id="{{id}}" data-complete="true">
                X
	         </button>
	        {{list_item}}
        </p>
    {{/unless}}
  {{/each}}

<h2>Completed: </h2>

  {{#each items}}
    {{#if complete}}
        <p>
	        <button class="status" data-id="{{id}}" data-complete="false">
                X
	        </button>
	        {{list_item}}
        </p>
    {{/if}}
  {{/each}}


<h2>Add new task</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca"></label>
    <input type="text" id="task-input" name="name">
  </div>
    
  <button type="submit">Insert</button>
</form>
